
html {
        height: 100%;
        font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
        width: 100%;
}

body {
        height: 100%;
        margin: 0px;
        padding: 0px;
}

#map {
        width: 70%;
        height: 100%;
}

#record {
		width: 50px;
		height: 30px;
}